<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/clermont_ferrand_city_guide_poi_63.png" class="" alt="..." >
      <div class="carousel-caption-custom">
        <h1> Explore les bornes de recharge près de chez toi !</h1>
        <p>
          Explore facilement les bornes de recharge disponibles autour de chez toi et découvre des offres personnalisées qui correspondent à tes besoins.
          Que tu sois en ville ou en déplacement, trouve rapidement la solution idéale pour recharger ton véhicule, tout en profitant des meilleures promotions du moment.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/carouselleVoiture.webp" class="d-block w-100" alt="..." >
      <div class="carousel-caption-custom">
        <h1> Explore les bornes de recharge près de chez toi !</h1>
        <p>
          Explore facilement les bornes de recharge disponibles autour de chez toi et découvre des offres personnalisées qui correspondent à tes besoins.
          Que tu sois en ville ou en déplacement, trouve rapidement la solution idéale pour recharger ton véhicule, tout en profitant des meilleures promotions du moment.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/carouselleVoiture2.jpg" class="" alt="..." >
      <div class="carousel-caption-custom">
        <h1> Explore les bornes de recharge près de chez toi !</h1>
        <p>
          Explore facilement les bornes de recharge disponibles autour de chez toi et découvre des offres personnalisées qui correspondent à tes besoins.
          Que tu sois en ville ou en déplacement, trouve rapidement la solution idéale pour recharger ton véhicule, tout en profitant des meilleures promotions du moment.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/carouselleVoiture3.jpg" class="" alt="..." >
      <div class="carousel-caption-custom">
        <h1> Explore les bornes de recharge près de chez toi !</h1>
        <p>
          Explore facilement les bornes de recharge disponibles autour de chez toi et découvre des offres personnalisées qui correspondent à tes besoins.
          Que tu sois en ville ou en déplacement, trouve rapidement la solution idéale pour recharger ton véhicule, tout en profitant des meilleures promotions du moment.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/carouselleVoiture4.jpg" class="" alt="..."  >
      <div class="carousel-caption-custom">
        <h1> Explore les bornes de recharge près de chez toi !</h1>
        <p>
          Explore facilement les bornes de recharge disponibles autour de chez toi et découvre des offres personnalisées qui correspondent à tes besoins.
          Que tu sois en ville ou en déplacement, trouve rapidement la solution idéale pour recharger ton véhicule, tout en profitant des meilleures promotions du moment.
        </p>
      </div>
    </div>
  </div>

</div>

<!--<header style="background-image: url('assets/clermont_ferrand_city_guide_poi_63.png');">
  <div>
    <h1> Explore les bornes de recharge près de chez toi !</h1>
    <p>
      Explore facilement les bornes de recharge disponibles autour de chez toi et découvre des offres personnalisées qui correspondent à tes besoins.
      Que tu sois en ville ou en déplacement, trouve rapidement la solution idéale pour recharger ton véhicule, tout en profitant des meilleures promotions du moment.
    </p>
  </div>
</header>-->


