<div id="marche">

  <div class="card" >
    <div class="card-body">
      <h4 class="card-title">1. Créez un compte</h4>
      <div class="xs">
      <p class="card-text">Inscrivez-vous en un éclair et découvrez nos offres ! ⚡</p>
      <button><a [routerLink]="['/register']">S'inscrire </a></button>
    </div>
    </div>
  </div>

  <div class="card" >
    <div class="card-body">
      <h4 class="card-title">2. Recherchez une borne </h4>
      <div class="xs">
      <p class="card-text">Repérez la borne idéale, où que vous soyez ! 📍</p>
      <button><a [routerLink]="['']">Voir la Map</a> </button>
      </div>
      </div>
  </div>

  <div class="card" >
    <div class="card-body">
      <h4 class="card-title ">3. Commencez à louer </h4>
     <div class="xs">
      <p class="card-text">Réservez, branchez, chargez <br>et roulez serein ! 🚗</p>
      <button><a [routerLink]="['/profile']">Réservation </a></button>
     </div>
    </div>
  </div>

</div>
