
<footer>

  <ul class="gauche">
    <li>A PROPOS
      <ul>
        <li>FAQ</li>
        <li>Contact</li>
        <li>Qui sommes-nous</li>
      </ul>
    </li>

    <li >SERVICES
      <ul>
        <li>Mon compte</li>
        <li>Trouvez une borne</li>
        <li>Réserver une borne</li>
      </ul>
    </li>
  </ul>


    <ul class="milieu">
      <li>Politique de confidentialité</li>
      <li>Mentions Légales</li>
      <li>© 2025 Company, Inc</li>
    </ul>


  <ul class="droite">
    <li >
      <a  href="#" aria-label="X">
        <i class="bi bi-twitter-x"></i>
      </a>
    </li>
    <li >
      <a  href="#" aria-label="Instagram">
        <i class="bi bi-instagram"></i>
      </a>
    </li>
    <li >
      <a  href="#" aria-label="Facebook">
        <i class="bi bi-facebook"></i>
      </a>
    </li>
  </ul>
</footer>
