

<div *ngIf="isOpen"  class="modal-overlay d-flex justify-content-start align-content-start position-absolute w-auto h-auto"  >
  <div *ngIf="isOpen" class="modal-content bg-white position-relative pointer-event rounded-2">
    <button (click)="close()" class="close-btn position-absolute btn btn-outline-success shadow bg-body-tertiary rounded px-2 py-1">✖</button>

    <section>

      <ul class="nav nav-tabs justify-content-center fs-6">

        <li class="nav-item">
          <a class="nav-link"
             [class.active]="activeTab === 'infos'"
             (click)="setActiveTab('infos')">
            Détails
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [class.active]="activeTab === 'avis'"
             (click)="setActiveTab('avis')">
            Avis
          </a>
        </li>

      </ul>

      <div *ngIf="activeTab === 'infos'">

        <div *ngIf="borne" class="detailBorne text-center">
          <p ><small>Nom : </small> <strong> <i>{{ borne.nom }}</i> </strong></p>
          <p *ngIf="borne.lieux"><small>Lieu : </small> <strong> <i>{{ borne.lieux.adresse }}, <br>{{ borne.lieux.ville }}  {{ borne.lieux.codePostal }}</i> </strong></p>
          <div class="infoPhoto d-flex justify-content-evenly flex-column">
            <ul class="d-flex justify-content-md-evenly  ps-0 mb-1">
              <li><small>Puissance : </small><br><strong> <i>{{ borne.puissance }} kW </i> </strong></li>
              <li><small>Prix :</small><br><strong> <i> {{ borne.prix }} €/h </i> </strong></li>
              <li><small>Sur pied :</small><br><strong> <i> {{ borne.surPied ? 'Oui' : 'Non' }} </i> </strong></li>
            </ul>

            <div>
              <img *ngIf="borne.photo" src="{{imageUrl}}{{borne.photo}}" alt="Photo borne" class="object-fit-cover m-1" >
            </div>

          </div>
          <p class="pdetail text-start my-md-3"><small>Détail : </small><strong> <i>{{ borne.instruction }} </i> </strong></p>

        </div>

      </div>

      <div *ngIf="activeTab === 'avis'">
        <div class="lesAvis text-center mb-3">
          <div class="avis-header d-flex flex-column flex-md-row align-items-center justify-content-center gap-2">
            <h2 class="mb-0">
              32 avis
            </h2>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
          </div>

          <div class="avisBtn mt-3" *ngIf="borne">
            <ul class="etoileXs list-unstyled fs-6">
              <li>Facilité d'accès : <strong>4/5 <i class="fa-solid fa-star"></i></strong></li>
              <li>Instruction valide : <strong>5/5 <i class="fa-solid fa-star"></i></strong></li>
              <li>Sécurité du lieu : <strong>5/5 <i class="fa-solid fa-star"></i></strong></li>
              <li>Fiabilité du matériel : <strong>4/5 <i class="fa-solid fa-star"></i></strong></li>
              <li>Rapport qualité/prix : <strong>4/5 <i class="fa-solid fa-star"></i></strong></li>
              <li>Communication : <strong>4/5 <i class="fa-solid fa-star"></i></strong></li>
            </ul>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>



