.modal-overlay {
  top: 62px;
  right: 37px;
  padding: 1rem;
  z-index: 999;
  .modal-content {
    padding: 1rem;
    width: 25vw;
    box-shadow: 0 4px 6px 10px rgba(0, 0, 0, 0.1);
    height: 62vh;

    .close-btn {
      top: 1rem;
      right: 1rem;
      font-size: 18px;
    }
    button {
      a{
        font-size: 18px;
      }
    }
    .nav-tabs{
      margin-bottom: 40px;
    }
    section{
      li{
        list-style: none;
      }
      .detailBorne{
        p{
          margin: 10px 0;
        }
        strong{
          font-weight: 500;
        }
        img{
          width: 12vw;
          height: 18vh;
          border: 1px rgba(126, 163, 141, 0.64) solid;
        }
        .horaireBtn{
          p{
            margin-bottom: 0;
          }
          input{
            width: 135px;
          }
        }
      }

      .lesAvis{
        h2{
          font-size:26px;
        }
        .fa-solid{
          margin: 0 4px;
        }
        .etoileXl::before {
          content: "";
          display: block;
          width: 80%;
          height: 1px;
          background:rgba(126, 163, 141, 0.64);
          margin: 10px auto ;
        }
        .etoileXl{
          li{
            margin: 5px 0;
            .fa-solid{
              margin: 0 5px;
            }
          }
        }
      }
    }
  }
  .login-modal-panel {
    border: 1px solid black;
    border-radius: 15px; /* Pour des coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    h1{
      font-size: 32px;
    }
  }
  @media (max-width: 768px){
    top: 42px;
    right: 0;
    .modal-content {
      width: 90vw;
      height: 100%;
      .close-btn {
        font-size: 12px;
      }
      .nav-tabs{
        margin-bottom: 10px;
        .nav-link{
          font-size: 12px;
        }
      }
      button {
        a{
          font-size: 12px;
        }
      }
      section{

        .detailBorne{
          p, li{
            margin: 0;
            font-size: 12px;
          }
          strong{
            font-weight: normal;
            font-size: 14px;
          }

          .infoPhoto{
            margin: 5px 0;
            ul{
            justify-content: center;
            }
            img{
              width: 33vw;
              height: 12vh;
            }
          }
          .pdetail{
            margin: 5px 0;
          }
          .horaireBtn{
            input{
              width: 90px;
              font-size: 10px;
            }
          }
        }
        .alert{
          font-size: 12px;
          padding: 2px 4px;
        }
        .lesAvis{
          flex-direction: column;
          h2{
            font-size: 16px;
            margin-bottom: 0;
            .fa-star{
              font-size: 18px;
            }
          }
          .etoileXl{
            display: none;
          }
          strong {
            font-weight: 500;
          }
          .avisBtn{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row-reverse;
            ul{
              margin-bottom: 0;
              padding-left: 1rem;
              li{
                margin: 5px 0;
              }
            }
            img{
              width: 20vw;
            }
          }
          button{
            margin-top: 6px;
            a{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
