.container{
  margin-right: 55px;
  max-width: 550px;
  padding-top: 35px;
}
.map-container {
  position: absolute;
  top: 35px;
  left: 74px;
  right: 590px;
  bottom: 0;
}

.map-frame {
border: 2px solid black;
height: 100%;
}

#map {
height: 100%;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
z-index: 1000 !important;
}


