
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  a{
    display: flex;
    align-items: center;
    img{
      max-width: 52px;
    }
    p{
      font-style: italic;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
