
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  a{
    display: flex;
    align-items: center;
    img{
      max-width: 52px;
    }
    p{
      font-style: italic;
      font-size: 14px;
      line-height: 14px;
    }
  }
  #deux{
    float: right;
    top: 0;
  }
}
.login-modal-panel {
  border: 1px solid black;
  border-radius: 15px; /* Pour des coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
  0 6px 20px rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  h1{
    font-size: 32px;
  }
}

@media (max-width: 768px){
a{
  font-size: 1rem !important;
  padding: 0 !important;
}
  li{
    padding: 6px !important;
  }

}
