.titre {
  box-shadow: 0px 1px 18px -8px rgba(0, 0, 0, 0.3);
  padding: 30px 0;
}

.titre h1 {
  text-align: center;
  font-style: italic;
  font-size: 2.2rem;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .titre {
    padding: 15px 0;
    margin-bottom: 5px;
  }
  .titre h1 {
    font-size: 1.4rem;
  }
}

.custom-tabs {
  border-bottom: none;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-tabs::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #365C36;
}

.nav-tabs .nav-link {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #365C36;
  font-weight: 500;
}

@media (max-width: 768px) {
  .custom-tabs::after {
    display: none;
  }

  .custom-tabs {
    padding-bottom: 10px
  }

  .nav-tabs .nav-link {
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
  }
}

