.titre {
  box-shadow: 0px 1px 18px -8px rgba(0, 0, 0, 0.3);
  padding: 30px 0;
}

.titre h1 {
  text-align: center;
  font-style: italic;
  font-size: 220%;
}

.sectionTable{
  margin: 30px 80px;
}

th{
  font-size: 14px;
}
td{
  font-size: 12px;
  img{
    width: 3vw;
    object-fit: contain;
  }
}

#titreBorne{
  display: flex;
  flex-direction: row;
  gap: 10px;
  #ajoutBorne{
    color: black;
    text-decoration: none;
  }

}

