<app-navbar></app-navbar>
<app-carroussel></app-carroussel>
<!--
<div *ngIf="!isLoading">
  <app-loader></app-loader>
</div>

<section *ngIf="isLoading">-->
<section>
  <div id="compte">

    <div class="titre">
      <h1><i class="fa-solid fa-user-gear me-3"></i>Mon Compte</h1>
    </div>


    <ul class="nav nav-tabs justify-content-center py-md-5 custom-tabs">

      <li class="nav-item">
        <a class="nav-link"
           [class.active]="activeTab === 'infos'"
           (click)="setActiveTab('infos')">
          Mes informations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [class.active]="activeTab === 'bornes'"
           (click)="setActiveTab('bornes')">
          Mes Bornes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [class.active]="activeTab === 'resa'"
           (click)="setActiveTab('resa')">
          Mes réservations
        </a>
      </li>

    </ul>

    <div *ngIf="activeTab === 'infos'" >
      <app-infos></app-infos>
    </div>

    <div *ngIf="activeTab === 'bornes'" >
      <app-bornes></app-bornes>
    </div>

    <div *ngIf="activeTab === 'resa'" >
      <app-reservationsProproLoca ></app-reservationsProproLoca>
    </div>

  </div>

</section>


<app-footer></app-footer>

