<section>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="activeTab === 'locataire'"
         (click)="setActiveTab('locataire')">
        Locataire
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="activeTab === 'proprietaire'"
         (click)="setActiveTab('proprietaire')">
        Propriétaire
      </a>
    </li>
  </ul>

  <div *ngIf="activeTab === 'locataire'">
    <p>Mes demandes de reservation</p>

    <div *ngIf="locataireResa$ | async as reservations;">
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date de Début</th>
            <th scope="col">Heure de début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Heure de fin</th>
            <th scope="col">Ville borne</th>
            <th scope="col">Prix</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
            <th scope="col">Détail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resa of reservations">
            <th scope="row">{{ resa.id }}</th>
            <td>{{ resa.dateDebut | date: 'yyyy-MM-dd'  }}</td>
            <td>{{ resa.dateDebut | date: 'HH:mm'  }}</td>
            <td>{{ resa.dateFin | date: 'yyyy-MM-dd' }}</td>
            <td>{{ resa.dateFin | date: 'HH:mm' }}</td>
            <ng-container *ngIf="resa.borne.lieux">
              <td>{{ resa.borne.lieux.ville || 'Non défini' }}</td>
            </ng-container>
            <td>
              <ng-container *ngIf="editStatusId !== resa.id">
                {{ resa.status }}
              </ng-container>
            </td>
            <ng-container *ngIf="currentBorneUser$ | async as borneMap">
              <td>{{borneMap.get(resa.id)?.prix}} €/h</td>
            </ng-container>

            <td> <button (click)="cancelReservation(resa)" class="btn btn-sm btn-warning">Annuler</button>| <a [routerLink]="['/borne']">Voir</a></td>
            <td></td>

          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!(locataireResa$ | async)?.length">
      <p>Vous n'avez pas fait de demande</p>
    </div>

  </div>

  <div *ngIf="activeTab === 'proprietaire'">
    <p>Mes demandes de location</p>
    <div *ngIf="proprioResa$ | async as reservations;">
     <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date de Début</th>
            <th scope="col">Heure de début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Heure de fin</th>
            <th scope="col">Ville borne</th>
            <th scope="col">Prix</th>
            <th scope="col">Statut</th>
            <th scope="col">Actions</th>
            <th scope="col">Détail</th>

          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let resa of reservations">
            <tr >
              <th scope="row">{{ resa.id }}</th>
              <td>{{ resa.dateDebut | date: 'yyyy-MM-dd'}}</td>
              <td>{{ resa.dateDebut | date: 'HH:mm' }}</td>
              <td>{{ resa.dateFin | date: 'yyyy-MM-dd'}}</td>
              <td>{{ resa.dateFin | date: 'HH:mm'  }}</td>
              <ng-container *ngIf="resa.borne.lieux">
                <td>{{ resa.borne.lieux.ville || 'Non défini' }}</td>
              </ng-container>
              <ng-container *ngIf="currentBorneResa$ | async as borneMap">
                <td>{{borneMap.get(resa.id)?.prix}} €/h</td>
              </ng-container>

              <td>
                <ng-container *ngIf="editStatusId !== resa.id">
                  {{ resa.status }}
                  <button (click)="editStatusId = resa.id"><i class="fa-solid fa-pen-to-square"></i></button>
                </ng-container>

                <ng-container *ngIf="editStatusId === resa.id">
                  <select [(ngModel)]="resa.status">
                    <option *ngFor="let status of statusOptions" [value]="status">
                      {{ status }}
                    </option>
                  </select>
                  <button (click)="saveStatus(resa)"><i class="fa-solid fa-check"></i></button>
                  <button (click)="editStatusId = null"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
              </td>

              <td> <i class="fa-solid fa-trash-can"></i> | <a [routerLink]="['/borne']">Voir</a></td>
              <td></td>
              <td ></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div *ngIf="!(proprioResa$ | async)?.length">
      <p>Vous n'avez pas aucune demande de réservation</p>
    </div>
  </div>


</section>
