<div class="container" id="situation">
  <div class="row row1 d-sm-flex">

    <div class="col-md-6">
      <p>Les bornes de recharge pour voitures électriques peuvent être installées dans une grande variété d’endroits, répondant aux besoins des utilisateurs, qu’ils soient en déplacement ou à domicile.</p>
    </div>
    <div class="col-md-6" >
      <img src="assets/voitureBonre.jpg" alt="">
    </div>
  </div>

  <div class="row row2 ">

    <div class="col-md-6" >
      <img src="assets/proprio.jpg" alt="" >
    </div>
    <div class="col-md-6" >
      <p>Le domicile et le lieu de travail sont aujourd’hui les lieux privilégiés par les usagers de véhicules électriques pour recharger leur voiture lorsqu’ils en ont la possibilité.</p>
    </div>

  </div>


</div>
