<section class="container mt-md-5" id="resaProfil">
  <ul class="nav nav-tabs text-center">
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="activeTab === 'locataire'"
         (click)="setActiveTab('locataire')">
        Locataire
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="activeTab === 'proprietaire'"
         (click)="setActiveTab('proprietaire')">
        Propriétaire
      </a>
    </li>
  </ul>

  <div *ngIf="activeTab === 'locataire'">
    <p>Mes demandes de réservation
      <button (click)="exportReservationsExcel()" class="btn btn-outline-dark ms-2">
        <i class="bi bi-file-earmark-spreadsheet-fill"></i>
      </button>
    </p>

    <div *ngIf="locataireResa$ | async as reservations;">
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Adresse</th>
            <th scope="col">Début</th>
            <th scope="col">Fin</th>
            <th scope="col">Prix</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
            <th scope="col">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resa of reservations">
            <th scope="row">{{ resa.id }}</th>
            <ng-container *ngIf="resa.borne.lieux">
              <td>{{ resa.borne.lieux.adresse || 'Non défini' }}
              <br> {{ resa.borne.lieux.ville || 'Non défini' }}_{{ resa.borne.lieux.codePostal || 'Non défini' }}</td>
            </ng-container>
            <td>{{ resa.dateDebut | date: 'dd-MM-yyyy'  }}
            {{ resa.dateDebut | date: 'HH:mm'  }}</td>
            <td>{{ resa.dateFin | date: 'dd-MM-yyyy' }}
            {{ resa.dateFin | date: 'HH:mm' }}</td>

              <td>{{ calculerPrixTotal(resa) | currency:'EUR':'symbol':'1.2-2':'fr' }}</td>

            <td>
              {{ resa.status === 'EN_ATTENTE' ? 'EN ATTENTE' : resa.status }}
              <!-- Bouton Edit : seulement si status EN_ATTENTE et pas en mode édition -->
              <button
                *ngIf="resa.status === 'EN_ATTENTE' && editStatusId !== resa.id"
                (click)="editStatusId = resa.id"
                class="btn btn-outline-dark">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>


              <ng-container *ngIf="editStatusId === resa.id">
                <select [(ngModel)]="resa.status">
                  <option *ngFor="let status of statusOptions" [value]="status">
                    {{ status }}
                  </option>
                </select>
                <button (click)="saveStatus(resa)"><i class="fa-solid fa-check"></i></button>
                <button (click)="editStatusId = null"><i class="fa-solid fa-xmark"></i></button>
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="resa.status !== 'ANNULER'">
                <button
                  class="btn btn-sm"
                  [ngClass]="{'btn-danger': !annulationEnCours.has(resa.id),'d-none': annulationEnCours.has(resa.id)}"
                  [disabled]="annulationEnCours.has(resa.id)" (click)="openConfirmModal(resa)">
                  x Annuler
                </button> |
              </ng-container>
              <button (click)="viewDetails(toBorneDto(resa.borne))" style="cursor: pointer;" class="btn btn-outline-dark"> <i class="bi bi-eye"></i>Voir</button>
              </td>
            <button (click)="downloadPdf(resa)" class="btn btn-outline-dark">
              <i class="bi bi-filetype-pdf"></i>
            </button>

          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!(locataireResa$ | async)?.length">
      <p>Vous n'avez pas fait de demande</p>
    </div>

  </div>

  <div *ngIf="activeTab === 'proprietaire'">
    <p>Mes demandes de location  <button (click)="exportReservationsExcel()" class="btn btn-outline-dark ms-2">
      <i class="bi bi-file-earmark-spreadsheet-fill"></i>
    </button></p>
    <div *ngIf="proprioResa$ | async as reservations;">
     <table class="table" >
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Adresse</th>
          <th scope="col">Début</th>
          <th scope="col">Fin</th>
          <th scope="col">Prix</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
          <th scope="col">PDF</th>
        </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let resa of reservations">
            <tr>
              <th scope="row">{{ resa.id }}</th>

              <ng-container *ngIf="resa.borne.lieux">
                <td>{{ resa.borne.lieux.adresse || 'Non défini' }}
                <br>{{ resa.borne.lieux.ville || 'Non défini' }}_{{ resa.borne.lieux.codePostal || 'Non défini' }}
                </td>
              </ng-container>
              <td>{{ resa.dateDebut | date: 'dd-MM-yyyy'}}
              {{ resa.dateDebut | date: 'HH:mm' }}</td>
              <td>{{ resa.dateFin | date: 'dd-MM-yyyy'}}
              {{ resa.dateFin | date: 'HH:mm'  }}</td>

                <td>{{ calculerPrixTotal(resa) | currency:'EUR':'symbol':'1.2-2':'fr' }}</td>

              <td>
                {{ resa.status === 'EN_ATTENTE' ? 'EN ATTENTE' : resa.status }}
                <!-- Bouton Edit : seulement si status EN_ATTENTE et pas en mode édition -->
                <button
                  *ngIf="resa.status === 'EN_ATTENTE' && editStatusId !== resa.id"
                  (click)="editStatusId = resa.id"
                  class="btn btn-outline-dark">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>


                <ng-container *ngIf="editStatusId === resa.id">
                  <select [(ngModel)]="resa.status">
                    <option *ngFor="let status of statusOptions" [value]="status">
                      {{ status }}
                    </option>
                  </select>
                  <button (click)="saveStatus(resa)"><i class="fa-solid fa-check"></i></button>
                  <button (click)="editStatusId = null"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
              </td>

              <td>
                <ng-container *ngIf="resa.status !== 'ANNULER'">
                <button
                class="btn btn-sm"
                [ngClass]="{'btn-danger': !annulationEnCours.has(resa.id),'d-none': annulationEnCours.has(resa.id)}"
                [disabled]="annulationEnCours.has(resa.id)" (click)="openConfirmModal(resa)">
                x Annuler
              </button> |
                </ng-container>
                <button (click)="viewDetails(toBorneDto(resa.borne))" style="cursor: pointer;" class="btn btn-outline-dark"> <i class="bi bi-eye pe-2"></i>Voir</button>
              </td>
              <td>
                <button (click)="downloadPdf(resa)" class="btn btn-outline-dark">
                  <i class="bi bi-filetype-pdf"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div *ngIf="!(proprioResa$ | async)?.length">
      <p>Vous n'avez pas aucune demande de réservation</p>
    </div>
  </div>


</section>



<!-- Modal de confirmation -->
<div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir annuler cette réservation ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
        <button type="button" class="btn btn-danger" (click)="confirmCancel()">Oui, annuler</button>
      </div>
    </div>
  </div>
</div>
