a{
  cursor: pointer;
}

p{
  font-size: 18px;
  margin: 36px 0 ;
  font-style: italic;
  text-align: center;
}

.nav-tabs .nav-link {
  font-size: 20px;
}

.nav-tabs .nav-link.active{
  font-weight: 500;
}

.table{

  th{
    font-size: 20px;
    font-weight: 500;
    padding: 16px 0;
  }

  td{
    font-size: 18px;

  }
}


