<section class="container mt-md-5">
  <ul class="nav nav-tabs text-center">
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="activeTab === 'locataire'"
         (click)="setActiveTab('locataire')">
        Locataire
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="activeTab === 'proprietaire'"
         (click)="setActiveTab('proprietaire')">
        Propriétaire
      </a>
    </li>
  </ul>

  <div *ngIf="activeTab === 'locataire'">
    <p>Mes demandes de réservation</p>

    <div *ngIf="locataireResa$ | async as reservations;">
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Adresse</th>
            <th scope="col">Début</th>
            <th scope="col">Fin</th>
            <th scope="col">Prix</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
            <th scope="col">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resa of reservations">
            <th scope="row">{{ resa.id }}</th>
            <ng-container *ngIf="resa.borne.lieux">
              <td>{{ resa.borne.lieux.adresse || 'Non défini' }}
              <br> {{ resa.borne.lieux.ville || 'Non défini' }}_{{ resa.borne.lieux.codePostal || 'Non défini' }}</td>
            </ng-container>
            <td>{{ resa.dateDebut | date: 'dd-MM-yyyy'  }}
            {{ resa.dateDebut | date: 'HH:mm'  }}</td>
            <td>{{ resa.dateFin | date: 'dd-MM-yyyy' }}
            {{ resa.dateFin | date: 'HH:mm' }}</td>

              <td>{{ calculerPrixTotal(resa) | currency:'EUR':'symbol':'1.2-2':'fr' }}</td>

            <td>
              <ng-container *ngIf="editStatusId !== resa.id">
                {{ resa.status }}
              </ng-container>
            </td>
            <td> <button (click)="cancelReservation(resa)" class="btn btn-sm btn-danger">x Annuler</button> |
              <button (click)="viewDetails(toBorneDto(resa.borne))" style="cursor: pointer;" class="btn btn-outline-dark"> <i class="bi bi-eye"></i>Voir</button>
              </td>
            <td><i class="bi bi-filetype-pdf fs-3"></i></td>

          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!(locataireResa$ | async)?.length">
      <p>Vous n'avez pas fait de demande</p>
    </div>

  </div>

  <div *ngIf="activeTab === 'proprietaire'">
    <p>Mes demandes de location</p>
    <div *ngIf="proprioResa$ | async as reservations;">
     <table class="table" >
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Adresse</th>
          <th scope="col">Début</th>
          <th scope="col">Fin</th>
          <th scope="col">Prix</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
          <th scope="col">PDF</th>
        </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let resa of reservations">
            <tr>
              <th scope="row">{{ resa.id }}</th>

              <ng-container *ngIf="resa.borne.lieux">
                <td>{{ resa.borne.lieux.adresse || 'Non défini' }}
                <br>{{ resa.borne.lieux.ville || 'Non défini' }}_{{ resa.borne.lieux.codePostal || 'Non défini' }}
                </td>
              </ng-container>
              <td>{{ resa.dateDebut | date: 'dd-MM-yyyy'}}
              {{ resa.dateDebut | date: 'HH:mm' }}</td>
              <td>{{ resa.dateFin | date: 'dd-MM-yyyy'}}
              {{ resa.dateFin | date: 'HH:mm'  }}</td>

                <td>{{ calculerPrixTotal(resa) | currency:'EUR':'symbol':'1.2-2':'fr' }}</td>

              <td>
                <ng-container *ngIf="editStatusId !== resa.id">
                  {{ resa.status }}
                  <button (click)="editStatusId = resa.id" class="btn btn-outline-dark"><i class="fa-solid fa-pen-to-square"></i></button>
                </ng-container>

                <ng-container *ngIf="editStatusId === resa.id">
                  <select [(ngModel)]="resa.status">
                    <option *ngFor="let status of statusOptions" [value]="status">
                      {{ status }}
                    </option>
                  </select>
                  <button (click)="saveStatus(resa)"><i class="fa-solid fa-check"></i></button>
                  <button (click)="editStatusId = null"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
              </td>

              <td> <button  class="btn btn-outline-danger"><i class="fa-regular fa-trash-can"></i></button> |
                <button (click)="viewDetails(toBorneDto(resa.borne))" style="cursor: pointer;" class="btn btn-outline-dark"> <i class="bi bi-eye"></i>Voir</button>
              </td>
              <td><i class="bi bi-filetype-pdf fs-3"></i></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div *ngIf="!(proprioResa$ | async)?.length">
      <p>Vous n'avez pas aucune demande de réservation</p>
    </div>
  </div>


</section>
