
a{
  cursor: pointer;
}

p{
  font-size: 18px;
  margin: 36px 0;
  font-style: italic;
  text-align: center;
}

.nav-tabs .nav-link {
  font-size: 20px;
}

.nav-tabs .nav-link.active{
  font-weight: 500;
}

.table{
  width: 100%;
  border-collapse: collapse;
}

.table th{
  font-size: 20px;
  font-weight: 500;
  padding: 16px 8px;
}

.table td{
  font-size: 18px;
  padding: 12px 8px;
}



@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table th, .table td{
    white-space: nowrap;
    font-size: 12px;
  }

  p{
    font-size: 12px;
    margin: 18px 0;
  }

  .nav-tabs .nav-link {
    font-size: 14px;
  }
}
