.card-body{
  background: rgba(54, 92, 54, 0.18);
}
h5{
  font-size: 18px;
  font-weight: 300;
}

.entete{
  margin: 0 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  h6{
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    font-style: italic;
  }
  i{
    font-size: 30px;
  }
}
p{
  font-size: 20px;
  font-weight: 500;
}
small{
  font-size: 12px;
}

.container:first-of-type{
  max-width: 1400px;
}

.borderLeft{
  border-left: 1px solid black;
  text-align: center;
  padding: 30px 0 25px 90px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.borderBott {
  position: relative;
  padding-bottom: 20px;
}

.borderBott::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
  width: 400px;
  height: 1px;
  background-color: black;
}

button{
  font-size: 20px;
}


@media (max-width: 992px) {
h6{
  font-size: 16px !important;
}
  h5{
    font-size: 14px;
  }
  p{
    font-size: 16px;
  }
  .container{
    padding: 0 !important;
    margin: 0 !important;
  }
  .cascading-right{
    margin: 0 !important;
  }

  .borderLeft {
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding:30px 0 0 0;
    margin-top: 1rem;
    margin-left: 0;
    align-items: center;
    flex-direction: column;
    gap: 6px;
  }

  .borderBott{
    padding: 0;
  }
  .borderBott::after {
    display: none;
  }
  .entete {
    flex-direction: column;
    font-size: 12px;
    margin: 0;
    align-items: center;
  }
    i{
      font-size: 24px;
    }
  .nomCmd{
    margin: 0 !important;
    justify-content: center !important;
    padding-top: 14px;
  }
  .card-body {
    padding: 0 !important;
    margin: 14px 26px;
  }

  .mb-4.d-flex.justify-content-around {
    flex-direction: column;
    gap: 6px;
    font-size: 10px;
    margin-bottom: 0 !important;
  }

  .form-control {
    width: 100%;
  }

  button{
    font-size: 16px;
    margin:30px 10px 10px;
  }
  .smColomn{
    justify-content: space-evenly;
    align-items: center;
  }
}


