<app-navbar *ngIf="!isModal"></app-navbar>

<div class="registration-container">

  <div class="row">
    <div class="col-md-2 d-md-flex align-items-center h-100">
      <img src="assets/Elec-login.webp" alt="Illustration" class="object-fit-cover">
    </div>
    <div class="col-md-10 d-flex flex-column align-items-center px-md-0">

      <div class="inscription d-flex align-items-center ">
        <h2 class="fst-italic m-md-4">Inscription</h2>
        <button (click)="close()" *ngIf="isModal" class="close-btn btn btn-outline-success shadow bg-body-tertiary rounded px-2 py-1">✖</button>
      </div>
      <mat-stepper labelPosition="bottom"  #stepper>

        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Informations <br> personnelles</ng-template>
            <mat-form-field >
              <mat-label>Nom</mat-label>
              <input matInput formControlName="nom" required>
              <mat-error *ngIf="firstFormGroup.get('nom')?.invalid && firstFormGroup.get('nom')?.touched">
                Le nom est requis.
              </mat-error>
            </mat-form-field>

            <mat-form-field >
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="prenom" required>
              <mat-error *ngIf="firstFormGroup.get('prenom')?.invalid && firstFormGroup.get('prenom')?.touched">
                Le prénom est requis.
              </mat-error>
            </mat-form-field>

            <mat-form-field >
              <mat-label>Date de Naissance</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateDeNaissance">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="firstFormGroup.get('email')?.hasError('required')">
                L'email est requis.
              </mat-error>
              <mat-error *ngIf="firstFormGroup.get('email')?.hasError('email') && !firstFormGroup.get('email')?.hasError('required')">
                Veuillez saisir un email valide.
              </mat-error>
              <mat-error *ngIf="firstFormGroup.get('email')?.hasError('emailExists')">
                Cet email est déjà utilisé.
              </mat-error>
            </mat-form-field>

            <mat-form-field >
              <mat-label>Téléphone</mat-label>
              <input matInput type="tel" formControlName="telephone" required>
              <mat-error *ngIf="firstFormGroup.get('telephone')?.invalid && firstFormGroup.get('telephone')?.touched">
                Le téléphone est requis.
              </mat-error>
            </mat-form-field>

            <div>
              <button mat-raised-button color="primary" matStepperNext [disabled]="firstFormGroup.invalid || requestOngoing">Suivant</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Adresse</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Nom de rue</mat-label>
              <input matInput formControlName="nomRue" required>
              <mat-error *ngIf="secondFormGroup.get('nomRue')?.invalid && secondFormGroup.get('nomRue')?.touched">
                Le nom de la rue est requis.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Code Postal</mat-label>
              <input matInput formControlName="codePostal" required>
              <mat-error *ngIf="secondFormGroup.get('codePostal')?.invalid && secondFormGroup.get('codePostal')?.touched">
                Le code postal doit contenir 5 chiffres.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Ville</mat-label>
              <input matInput formControlName="ville" required>
              <mat-error *ngIf="secondFormGroup.get('ville')?.invalid && secondFormGroup.get('ville')?.touched">
                La ville est requise.
              </mat-error>
            </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>Précédent</button>
              <button mat-raised-button color="primary" matStepperNext [disabled]="secondFormGroup.invalid || requestOngoing">Suivant</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
          <ng-template matStepLabel>Moyen de paiement</ng-template>
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-raised-button color="primary" matStepperNext >Suivant</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Mot de passe <br> & Récapitulatif</ng-template>

            <mat-form-field appearance="outline">
              <mat-label>Mot de passe</mat-label>
              <input matInput type="password" formControlName="motDePasse" required>
              <mat-error *ngIf="fourthFormGroup.get('motDePasse')?.invalid && fourthFormGroup.get('motDePasse')?.touched">
                Le mot de passe doit contenir au moins 6 caractères.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Confirmer le mot de passe</mat-label>
              <input matInput type="password" formControlName="confirmMotDePasse" required>
              <mat-error *ngIf="fourthFormGroup.get('confirmMotDePasse')?.invalid && fourthFormGroup.get('confirmMotDePasse')?.touched">
                La confirmation est requise.
              </mat-error>
            </mat-form-field>
            <mat-error *ngIf="fourthFormGroup.hasError('mismatch') && fourthFormGroup.get('confirmMotDePasse')?.touched">
              Les mots de passe ne correspondent pas.
            </mat-error>

            <mat-divider></mat-divider>
            <br>

            <h3>Récapitulatif de votre inscription</h3>
            <p>Nom: {{ firstFormGroup.value?.nom }}</p>
            <p>Prénom: {{ firstFormGroup.value?.prenom }}</p>
            <p>Email: {{ firstFormGroup.value?.email }}</p>
            <p>Adresse: {{ secondFormGroup.value?.nomRue }}, {{ secondFormGroup.value?.codePostal }} {{ secondFormGroup.value?.ville }}</p>

            <div>
              <button mat-button matStepperPrevious>Précédent</button>
              <button mat-raised-button color="primary" matStepperNext (click)="sendVerificationCode()" [disabled]="fourthFormGroup.invalid || requestOngoing">Envoyer le code</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="validationFormGroup">
          <ng-template matStepLabel>Code de validation</ng-template>
          <p>Un code de validation a été envoyé à l'adresse **{{ firstFormGroup.value?.email }}**. Veuillez le saisir ci-dessous.</p>

          <form [formGroup]="validationFormGroup">
            <mat-form-field appearance="outline">
              <mat-label>Code de validation</mat-label>
              <input matInput type="text" formControlName="code" required>
              <mat-error *ngIf="validationFormGroup.get('code')?.invalid && validationFormGroup.get('code')?.touched">
                Le code de validation est requis.
              </mat-error>
              <mat-error *ngIf="validationFormGroup.get('code')?.hasError('apiError')">
                {{ validationFormGroup.get('code')?.errors?.['apiError'] }}
              </mat-error>
            </mat-form-field>
          </form>
          <div *ngIf="resendMessage" [ngClass]="{'success-message': !isResendError, 'error-message': isResendError}">
            {{ resendMessage }}
          </div>
          <p *ngIf="attemptsLeft > 0">Il vous reste **{{ attemptsLeft }} tentative(s)**.</p>
          <p *ngIf="attemptsLeft === 0" class="error-message">Vous avez épuisé vos tentatives.
            <button mat-button color="warn" (click)="resendCode()" [disabled]="validationFormGroup.invalid || requestOngoing">Renvoyer un nouveau code</button>
          </p>

          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-raised-button color="primary" [disabled]="validationFormGroup.invalid || attemptsLeft <= 0 || requestOngoing" (click)="validateEmail()">Valider</button>
          </div>
        </mat-step>


        <mat-step>
          <ng-template matStepLabel>Terminé</ng-template>
          <a mat-button [routerLink]="['/login']">Se connecter</a>

        </mat-step>

      </mat-stepper>
    </div>
  </div>
</div>

<app-footer *ngIf="!isModal"></app-footer>
