header{

  background-size: cover;
  background-position: top;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

  div{
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    max-width: 875px;
    text-align: center;

    h1{
      font-size: 42px;color: #a2bbea;
    }
    p{
      margin-top: 14px; font-size:21px; color: #555;
    }
  }

}
