<div id="marcheProprio">

  <div class="card" >
    <div class="card-body">
      <h4 class="card-title">1. Créez un compte</h4>
      <div class="xs">
        <p class="card-text">Inscrivez-vous en un éclair et mettez votre borne en avant ! ⚡</p>
        <button><a [routerLink]="['/register']">S'inscrire </a></button>
      </div>
    </div>
  </div>

  <div class="card" >
    <div class="card-body">
      <h4 class="card-title">2. Publiez votre annonce</h4>
      <div class="xs">
        <p class="card-text">Publiez et ajoutez votre borne en quelques secondes ! 📍</p>
        <button><a [routerLink]="['/profile']" fragment="titreBorne">Publier</a> </button>
      </div>
    </div>
  </div>

  <div class="card" >
    <div class="card-body">
      <h4 class="card-title ">3. Gagnez sans effort</h4>
      <div class="xs">
        <p class="card-text">Louez, encaissez… et rechargez vos revenus ! 💰</p>
        <button><a [routerLink]="['/profile']">Réservation </a></button>
      </div>
    </div>
  </div>

</div>
