<section>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="activeTab === 'locataire'"
         (click)="setActiveTab('locataire')">
        Locataire
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="activeTab === 'proprietaire'"
         (click)="setActiveTab('proprietaire')">
        Propriétaire
      </a>
    </li>
  </ul>

  <div *ngIf="activeTab === 'locataire'">
    <p>Mes demandes de reservation</p>

    <div *ngIf="currentReservationUser$ | async as reservations;">
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date de Début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Heure de début</th>
            <th scope="col">Heure de fin</th>
            <th scope="col">Ville borne</th>
            <th scope="col">Statut</th>
            <th scope="col">Prix</th>
            <th scope="col">Actions</th>
            <th scope="col">Détail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resa of reservations">
            <th scope="row">{{ resa.id }}</th>
            <td>{{ resa.dateDebut }}</td>
            <td>{{ resa.dateFin }}</td>
            <td>{{ resa.heureDebut }}</td>
            <td>{{ resa.heureFin }}</td>
            <td>borne ville</td>
            <td>{{ resa.status }}</td>

            <td>{{ resa.borne.prix }}€/h</td>

            <td><i class="fa-solid fa-pen-to-square"></i> | <i class="fa-solid fa-trash-can"></i></td>
            <td><a [routerLink]="['/borne']">Voir</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!(currentReservationUser$ | async)?.length">
      <p>Vous n'avez pas fait de demande</p>
    </div>

  </div>

  <div *ngIf="activeTab === 'proprietaire'">
    <p>Mes demandes de location</p>
    <div *ngIf="currentReservationBorneUser$ | async as reservations;">
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date de Début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Heure de début</th>
            <th scope="col">Heure de fin</th>
            <th scope="col">Ville borne</th>
            <th scope="col">Statut</th>
            <th scope="col">Prix</th>
            <th scope="col">Actions</th>
            <th scope="col">Détail</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let resa of reservations">
            <tr >
              <th scope="row">{{ resa.id }}</th>
              <td>{{ resa.dateDebut }}</td>
              <td>{{ resa.dateFin }}</td>
              <td>{{ resa.heureDebut }}</td>
              <td>{{ resa.heureFin }}</td>
              <td>borne ville</td>
              <td >{{ resa.status }}</td>
              <ng-container *ngIf="currentBorneUser$ | async as bornes;">
                <ng-container *ngFor="let borne of bornes">
                 <td>{{ borne.prix }}€/h</td>
                </ng-container>
              </ng-container>
              <td><i class="fa-solid fa-pen-to-square"></i> | <i class="fa-solid fa-trash-can"></i></td>
              <td><a [routerLink]="['/borne']">Voir</a></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div *ngIf="!(currentReservationBorneUser$ | async)?.length">
      <p>Vous n'avez pas aucune demande de réservation</p>
    </div>
  </div>


</section>
