/* You can add global styles to this file, and also import other style files */
$form-range-track-bg: rgba(125, 154, 89, 0.13);
$form-range-thumb-bg: #365c36;
$form-range-thumb-active-bg: darken(#8bc34a, 10%);
$form-range-thumb-focus-box-shadow: 0 0 0 .25rem rgba(#8bc34a, .4);

// Couleur principale quand la checkbox est cochée
$form-check-input-checked-bg-color: #52754c;  // vert
$form-check-input-checked-border-color: #77a679;
$form-check-input-focus-border:       #4caf50;

$input-color: #222;             // texte
$input-bg: #fff;                // fond
$input-focus-border-color: black;
$input-focus-box-shadow: 0 0 0 .25rem rgba(#4caf50, .25);

/* Boutons Angular Material (primary → vert) */
.mat-mdc-raised-button.mat-primary:not(.mat-mdc-button-disabled),
.mat-mdc-outlined-button.mat-primary:not(.mat-mdc-button-disabled),
.mat-mdc-stroked-button.mat-primary:not(.mat-mdc-button-disabled)
{
  background-color: #fff !important;
  color: #365C36 !important;
  border:1px solid #365C36 !important;
  font-size: 18px;
  margin-bottom: 8px;
}
.mat-step-icon-state-done{
  background-color: #52754c !important;
}
.mat-mdc-raised-button.mat-primary:hover {
  background-color: rgba(76, 101, 78, 0.25) !important; /* vert encore plus foncé au hover */
}

/* Inputs (ligne et label quand focus → vert) */
.mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #2e7d32 !important;
}

.mdc-text-field--focused .mdc-floating-label {
  color: #365C36 !important;
}
.mdc-line-ripple::before,
.mdc-line-ripple::after {
  border-bottom-color: #365C36 !important;
}
/* Curseur de texte (input caret) */
.mdc-text-field__input {
  caret-color: #365C36 !important;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


/* Vous pouvez choisir un autre thème clair si vous préférez, par exemple :*/
 @import '@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/
/*@import '@angular/material/prebuilt-themes/purple-green.css';*/
/*@import '@angular/material/prebuilt-themes/pink-bluegrey.css';*/



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  --mat-stepper-header-edit-state-icon-background-color:  #365c36;
  --mat-stepper-header-selected-state-icon-background-color: #365c36;
}
