<div class="container mt-md-5">

  <button (click)="openModal()" class="btn btn-outline-dark mb-3" id="ajoutBorne">
    <i class="bi bi-plus-circle-fill pe-2"></i><i>Ajouter une borne</i>
  </button>

  <app-modal-borne (onBorneAdded)="onBorneAdded($event)"></app-modal-borne>

  <div class="table-responsive" *ngIf="bornes$ | async as bornes">
    <table class="table align-middle text-center">
      <thead>
      <tr>
        <th>#</th>
        <th>Puissance</th>
        <th>Sur pied ?</th>
        <th>Adresse</th>
        <th>Instruction</th>
        <th>Photo</th>
        <th>Prix</th>
        <th>Actions</th>
        <th>Détails</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let borne of bornes; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ borne.puissance }} kW</td>
        <td>{{ borne.surPied ? 'Oui' : 'Non' }}</td>
        <ng-container *ngIf="borne.lieux">
          <td>{{ borne.lieux.ville }}</td>
        </ng-container>
        <td>
          {{ borne.instruction.length > 20
          ? (borne.instruction | slice: 0:20) + '...'
          : borne.instruction }}
        </td>
        <td>
          <img [src]="getPhotoUrl(borne.photo)" alt="{{ borne.nom }}" />
        </td>
        <td>{{ borne.prix }} €/h</td>
        <td>
          <button
            (click)="modalBorne.openForEdit(toBorneDto(borne))"
            class="btn btn-outline-warning btn-sm"
            title="Modifier"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button
            (click)="openDeleteModal(borne.id)"
            class="btn btn-outline-danger btn-sm ms-1"
            title="Supprimer"
          >
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </td>
        <td>
          <button
            (click)="viewDetails(toBorneDto(borne))"
            class="btn btn-outline-dark btn-sm"
            title="Voir détails"
          >
            <i class="bi bi-eye"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!(bornes$ | async)?.length">
    <p class="text-center fst-italic mt-4">Vous ne disposez pas de bornes</p>
  </div>
</div>

<!-- Modal confirmation suppression -->
<div
  class="modal fade"
  id="confirmDeleteModal"
  tabindex="-1"
  aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">
          Confirmer la suppression
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette borne ?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Annuler
        </button>
        <button type="button" class="btn btn-danger" (click)="onConfirmDelete()">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

<app-modal-borne-detail #modalDetails></app-modal-borne-detail>
